
body {
    background-color: rgb(240, 246, 252);
    font-family: helvetica sans-serif;
}

a {
    color: #03d7fc;
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.header-container {
    align-items: center;
    background-color: rgb(240, 246, 252);
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-container .brand-name {
    border-bottom: 1px solid transparent;
    color: #03d7fc;
    font-size: 48px;
    letter-spacing: 32px;
    line-height: 2;
    margin: 16px;
}

.header-container .brand-name:hover {
    border-bottom: 1px solid #03d7fc;
}

.header-container .github-link  {
    margin-right: 32px;
}

.header-container .github-link .github-icon {
    border-bottom: 1px solid transparent;
    color: black;
    font-size: 72px;
    padding: 16px;
}

.header-container .github-link .github-icon:hover {
    border-bottom: 1px solid #03d7fc;
}

.content-container .movies-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.content-container .movies-container .poster {
    border: 2px solid transparent;
    text-align: center;
    width: 15%;
}

.content-container .movies-container .poster:hover {
    border: 2px solid #03d7fc;
}

.content-container .movies-container .poster > a > img {
    width: 100%;
}

.content-container .movies-container .poster .movie-name {
    font-size: 22px;
}

@media screen and (max-width: 1440px){
    .header-container .brand-name {
        letter-spacing: 24px;
    }

    .content-container .movies-container .poster {
        width: 18%;
    }
}

@media screen and (max-width: 1024px){
    .header-container .brand-name {
        letter-spacing: 8px;
    }

    .header-container .github-link .github-icon {
        font-size: 56px;
    }

    .content-container .movies-container .poster {
        width: 24%;
    }

    .content-container .movies-container .poster .movie-name {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px){
    .header-container .brand-name {
        font-size: 36px;
        letter-spacing: 2px;
    }

    .header-container .github-link  {
        margin-right: 16px;
    }

    .header-container .github-link .github-icon {
        font-size: 48px;
        padding: 8px;
    }

    .content-container .movies-container .poster {
        width: 30%;
    }

    .content-container .movies-container .poster .movie-name {
        font-size: 18px;
    }
}

@media screen and (max-width: 425px){
    .header-container {
        margin: 0 4px;
    }

    .header-container .brand-name {
        font-size: 16px;
        letter-spacing: 2px;
        margin: 8px;
    }

    .header-container .github-link  {
        margin-right: 0
    }

    .header-container .github-link .github-icon {
        font-size: 24px;
        padding: 0;
    }

    .content-container .movies-container .poster {
        width: 45%;
    }

    .content-container .movies-container .poster .movie-name {
        font-size: 10px;
    }
}
