
.details-container {
    display: flex;
    margin: 0 32px 32px;
    gap: 4%;
}

.details-container .lhs {
    height: 420px;
}

.details-container .lhs img {
    border: 1px solid #03d7fc;
    box-shadow: 4px 2px 2px #03d7fc;
    height: 100%;
}

.details-container .lhs img:hover {
    box-shadow: 6px 4px 4px #03d7fc;
}

.details-container .rhs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;
}

.details-container .rhs .label {
    border-bottom: 1px solid transparent;
    color: #03d7fc;
    font-weight: bold;
    letter-spacing: 2px;
    padding-right: 16px;
}

.details-container .rhs .value {
    border-bottom: 1px solid transparent;
}

.details-container .rhs .label:hover,
.details-container .rhs .value:hover {
    border-bottom: 1px solid #03d7fc;
}

.details-container .rhs .name-container {
    text-align: center;
}

.details-container .rhs .name-container .label {
    font-size: 36px;
}

.details-container .rhs .genres-container,
.details-container .rhs .rating-container,
.details-container .rhs .votes-container {
    display: flex;
    font-size: 28px;
    justify-content: space-between;
}

.details-container .rhs .rating-container .value .fill {
    color: #fbbc05;
    font-size: 28px;
}

.details-container .rhs .icon-container {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.details-container .rhs .icon-container .imdb {
    background-color: black;
    border-bottom: 1px solid transparent;
    border-radius: 8px;
    color: yellow;
    font-size: 88px;
    padding: 0 6px;
}

.details-container .rhs .icon-container .imdb:hover {
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid #03d7fc;
    color: black;
}

.details-container .rhs .icon-container .google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    background-clip: text;
    border-bottom: 1px solid transparent;
    color: transparent;
    font-size: 88px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.details-container .rhs .icon-container .google:hover {
    background: conic-gradient(from -45deg, #fbbc05 110deg, #ea4335 90deg 180deg, #4285f4 180deg 270deg, #34a853 270deg) 73% 55%/150% 150% no-repeat;
    background-clip: text;
    border-bottom: 1px solid #03d7fc;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 768px){
    .details-container .lhs {
        height: 310px;
    }

    .details-container .lhs img {
        box-shadow: 2px 1px 1px #03d7fc;
    }

    .details-container .lhs img:hover {
        box-shadow: 4px 2px 2px #03d7fc;
    }

    .details-container .rhs .name-container .label {
        font-size: 26px;
    }

    .details-container .rhs .genres-container,
    .details-container .rhs .rating-container,
    .details-container .rhs .votes-container {
        font-size: 24px;
    }

    .details-container .rhs .icon-container {
        justify-content: center;
    }

    .details-container .rhs .icon-container .imdb,
    .details-container .rhs .icon-container .google {
        font-size: 56px;
        margin: 16px;
    }
}

@media screen and (max-width: 440px){
    .details-container {
        align-items: center;
        flex-direction: column-reverse;
        margin: 8px;
    }

    .details-container .rhs {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: space-evenly;
        width: 90%;
    }

    .details-container .rhs .name-container .label {
        font-size: 18px;
    }

    .details-container .rhs .genres-container,
    .details-container .rhs .rating-container,
    .details-container .rhs .votes-container {
        font-size: 14px;
    }

    .details-container .rhs .rating-container .value .fill {
        font-size: 18px;
    }

    .details-container .rhs .icon-container .imdb,
    .details-container .rhs .icon-container .google {
        font-size: 36px;
    }
}
